<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongoose Dashboard</title>
  </head>
  <body>

    <h1>Animal Info</h1>

    <% for(var x = 0 ; x < animal.length ; x++){ %>
      <p>Name: <%= animal[x].name %></p>
      <p>Name: <%= animal[x].info %></p>
      <a href="/animal/edit/<%= animal[x]._id %>">Edit</a>
    <% } %>

    <a href="/">Home</a>

  </body>
</html>
